<a href="https://colab.research.google.com/github/FerDoranNie/Courses/blob/master/Coursera_Crash_Course_on_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bill = 47.28
tip = bill * 0.15
total = bill + tip
share = total/2 
print("Each person needs to pay " + str(share))

Each person needs to pay 27.186

In [ ]:
def print_seconds(hours, minutes, seconds):
    print((hours*3600)+(minutes*60) +seconds)

print_seconds(1,2,3)

3723

In [ ]:
def get_seconds(hours, minutes, seconds):
  return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(2,30,0)
amount_b = get_seconds(0,45,15)
result = amount_a + amount_b
print(result)

11715

In [ ]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km
my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [ ]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [ ]:
def lucky_number(name):
  number = len(name) * 9
  message = "Hello " + name + ". Your lucky number is " + str(number)
  return message
	    
print(lucky_number("Kay"))
print(lucky_number("Cameron"))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [ ]:
number = 10

if number > 11: 
  print(0)
elif number != 10:
  print(1)
elif number >= 20 or number < 12:
  print(2)
else:
  print(3)

2

In [ ]:
def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = filesize % block_size
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return block_size*(full_blocks + 1)
    return  block_size

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

In [ ]:
def color_translator(color):
	if color == "red":
		hex_color = "#ff0000"
	elif color == "green":
		hex_color = "#00ff00"
	elif color == "blue":
		hex_color = "#0000ff"
	else:
		hex_color = "unknown"
	return hex_color

print(color_translator("blue")) # Should be #0000ff
print(color_translator("yellow")) # Should be unknown
print(color_translator("red")) # Should be #ff0000
print(color_translator("black")) # Should be unknown
print(color_translator("green")) # Should be #00ff00
print(color_translator("")) # Should be unknown

#0000ff
unknown
#ff0000
unknown
#00ff00
unknown

In [ ]:
def exam_grade(score):
	if score>95:
		grade = "Top Score"
	elif score >= 60:
		grade = "Pass"
	else:
		grade = "Fail"
	return grade

print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

1

In [ ]:
def format_name(first_name, last_name):
	# code goes here
	if first_name!="" and last_name!="":
		string = "Name: " + last_name + "," + first_name
	elif first_name!="" and last_name=="":
		string = "Name " + first_name
	elif last_name!="" and first_name=="":
		string = "Name " + last_name
	else:
		string = ""	
	return string 

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

1

In [ ]:
def longest_word(word1, word2, word3):
	if len(word1) >= len(word2) and len(word1) >= len(word3):
		word = word1
	elif len(word2) >= len(word1) and len(word2) >= len(word3):
		word = word2
	else:
		word = word3
	return(word)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

In [ ]:
#The fractional_part function divides the numerator by the denominator, and returns just the fractional part (a number between 0 and 1). Complete the body of the function so that it returns the right number.
#Note: Since division by 0 produces an error, if the denominator is 0, the function should return 0 instead of attempting the division.

def fractional_part(numerator, denominator):
	# Operate with numerator and denominator to 
# keep just the fractional part of the quotient
	if denominator>0:
		return (numerator/denominator)-numerator//denominator
	elif numerator==0:
		return 0
	return 0

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.6666666666666667
0.5
0
0.0

In [ ]:
def fractional_part(numerator, denominator):
    # Operate with numerator and denominator to
    # keep just the fractional part of the quotient 
    if denominator == 0 or numerator==denominator or numerator==0:
        part = 0
    else:
        part = (numerator%denominator)/denominator
    return part

In [ ]:
def count_down(start_number):
  current = start_number
  while (current > 0):
    current -= 1
    print(current)
  print("Zero!")

count_down(3)

2
1
0
Zero!

In [ ]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor = 2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      # If it's not, increment the factor by one
      factor = factor +1
  return "Done"

print_prime_factors(100)
# Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
2
5
5

'Done'

In [ ]:
def is_power_of_two(n):
  # Check if the number can be divided by two without a remainder
  while n % 2 == 0:
    n = n / 2
    if n==0:
      break  
  # If after dividing by two the number is 1, it's a power of two
  if n == 1:
    return True
  return False
  

print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

1

In [ ]:
def sum_divisors(n):
  sum = 0
  while sum < n:
    sum = sum +1
    if n%sum==0:
      sum = sum +1
      return sum
    elif sum==0:
      return 0
  # Return the sum of all divisors of n, not including n
  

print(sum_divisors(0))
# 0
print(sum_divisors(3)) # Should sum of 1
# 1
print(sum_divisors(36)) # Should sum of 1+2+3+4+6+9+12+18
# 55
print(sum_divisors(102)) # Should be sum of 2+3+6+17+34+51
# 114

In [ ]:
def multiplication_table(number):
	# Initialize the starting point of the multiplication table
	multiplier = 1
	# Only want to loop through 5
	while multiplier <= 5:
		result = number * multiplier 
		# What is the additional condition to exit out of the loop?
		if result>25 :
			break
		print(str(number) + "x" + str(multiplier) + "=" + str(result))
		# Increment the variable for the loop
		multiplier += 1

multiplication_table(3) 
# Should print: 3x1=3 3x2=6 3x3=9 3x4=12 3x5=15

multiplication_table(5) 
# Should print: 5x1=5 5x2=10 5x3=15 5x4=20 5x5=25

multiplication_table(8)	
# Should print: 8x1=8 8x2=16 8x3=24

In [ ]:
def votes(params):
	for vote in params:
	    print("Possible option:" + vote)

votes(['yes', 'no', 'maybe'])

Possible option:yes
Possible option:no
Possible option:maybe

In [ ]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [ ]:
for i in range(1,10,3):
  print(i)

1
4
7

In [ ]:
for x in range(6+1):
  if x%2==0 and x>0:
    print([x%2, x])

[0, 2]
[0, 4]
[0, 6]

### Third week exam

In [ ]:
for number in (range(5, -1, -1)):
    print(number)

# Should print:
# 5
# 4
# 3
# 2
# 1
# 0

In [ ]:
number = 1
while number <= 7:
	print(number, end=" ")
	number = number +1

In [ ]:
number = 15 # Initialize the variable
while abs(number) <= 15 and number >0: # Complete the while loop condition
    print(number, end=" ")
    number = number - 5 # Increment the variable

15 10 5

In [ ]:
number = 2 # Initialize the variable 
while number<=12: # Complete the while loop condition
    print(number, end=" ")
    number = number +2 # Increment the variable

# Should print 2 4 6 8 10 12

In [ ]:
def show_letters(word):
	for i in word:
		print(i)

show_letters("Hello")
# Should print one line per letter

In [ ]:
def digits(n):
	count = len(str(n))
	return count
	
print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1

In [ ]:
def multiplication_table(start, stop):
	for x in range(start, stop+1):
		for y in range(start, stop+1) :
			print(str(x*y), end=" ")
		print("")

multiplication_table(1, 3)
# Should print the multiplication table shown above

In [ ]:
def counter(start, stop):
	x = start
	if start > stop:
		return_string = "Counting down: "
		while x >= stop:
			return_string += str(x) 
			if x>stop:
				return_string += ","
			x-= 1
	else:
		return_string = "Counting up: "
		while x <= stop:
			return_string += str(x)
			if x<stop:
				return_string += ","
			x+=1
	return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

In [ ]:
def countdown(start):
    x = start
    if x > 0:
        return_string = "Counting down to 0: "
        while x<=start and x>0: # Complete the while loop
            return_string += str(x) # Add the numbers to the "return_string"
            if x > 0:
                return_string += ","
            x = x-1 # Decrement the appropriate variable
    else:
        return_string = "Cannot count down to 0"
    return return_string

print(countdown(10)) # Should be "Counting down to 0: 10,9,8,7,6,5,4,3,2,1,0"
print(countdown(2)) # Should be "Counting down to 0: 2,1,0"
print(countdown(0)) # Should be "Cannot count down to 0"

Counting down to 0: 10,9,8,7,6,5,4,3,2,1,
Counting down to 0: 2,1,
Cannot count down to 0

In [ ]:
def all_numbers(minimum, maximum):

    return_string = "" # Initializes variable as a string

    # Complete the for loop with a range that includes all 
    # numbers up to and including the "maximum" value.
    for x in range(minimum, maximum+1,1):

        # Complete the body of the loop by appending the number
        # followed by a space to the "return_string" variable.
        return_string += str(x) + " "

    # This .strip command will remove the final " " space 
    # at the end of the "return_string".
    return return_string.strip()


print(all_numbers(2,6))  # Should be 2 3 4 5 6
print(all_numbers(3,10)) # Should be 3 4 5 6 7 8 9 10
print(all_numbers(-1,1)) # Should be -1 0 1
print(all_numbers(0,5))  # Should be 0 1 2 3 4 5
print(all_numbers(0,0))  # Should be 0

In [ ]:
def even_numbers(maximum):
	return_string = ""
	for x in range(maximum+1):
		if x%2==0 and x>0:
			return_string += str(x) + " "
	return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

In [ ]:
def even_numbers(n):
    count = 0
    current_number = 0
    while current_number<n: # Complete the while loop condition
        if current_number % 2 == 0:
            count= count + 1 # Increment the appropriate variable
        current_number = current_number +1 # Increment the appropriate variable
    return count +1

In [ ]:
def rows_asterisks(rows):
    # Complete the outer loop range to control the number of rows
    for x in range(rows+1): 
        # Complete the inner loop range to control the number of 
        # asterisks per row
        for y in range(x): 
            # Prints one asterisk and one space
            print("*", end=" ")
        # An empty print() function inserts a line break at the 
        # end of the row 
        print()


rows_asterisks(5)
# Should print the asterisk rows shown above

In [ ]:
def first_and_last(message):
    len_message = len(message)
    if  len(message)==0 or message[0]==message[-1]:
        return True 
    return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [ ]:
def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0].upper()
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

In [ ]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

In [ ]:
Weather = "Rainfall"
print(Weather[:4])

Rain

In [ ]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for i in range(len(input_string)):
		x = input_string[i].strip()
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if x!="":
			new_string = new_string + x.lower()
			reverse_string = x.lower() + reverse_string
	# Compare the strings
	if new_string==reverse_string:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [ ]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.2f} km".format(miles, km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.20 km
5.5 miles equals 8.80 km
11 miles equals 17.60 km

In [ ]:
def nametag(first_name, last_name):
	last_name = last_name[0].upper()
	return("{} {}.".format(first_name, last_name))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

In [ ]:
test = "It's raining cats and cats".split()
len(test)

test[4]
#for i in test:
#  print(i)

'cats'

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames=[]
for i in filenames:
    splitstr = i.split('.')
    if splitstr[1]=='hpp':
        splitstr[1]='h'
    newstr = splitstr[0] + '.'+ splitstr[1]
    newfilenames.append(newstr)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [ ]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split(' ')
  for word in words:
    # Create the pig latin word and add it to the list
    piglatin = word[1:]+ word[0] + 'ay'
    say = say + piglatin + ' '
    # Turn the list back into a phrase
  return say
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [ ]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for ___ in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if ___ >= value:
                result += ___
                ___ -= value
            else:
                ___
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

In [ ]:
def group_list(group, users):
  emptystr = ''
  for i in users:
    if i != users[len(users)-1]:
      emptystr = emptystr +  i + ', '
    else: 
      emptystr = emptystr + i
    #print(i)
  return group + ': '+ emptystr

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [ ]:
def guest_list(guests):
	for i in guests:
		name = i[0]
		age = i[1]
		profession = i[2]
		print("{} is {} years old and works as a {}".format(name, age, profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as a Chef
Pat is 35 years old and works as a Lawyer
Amanda is 25 years old and works as a Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [ ]:
x ={"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}
for i in x.items():
  print(i)
#print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

('gmail.com', ['clark.kent', 'diana.prince', 'peter.parker'])
('yahoo.com', ['barbara.gordon', 'jean.grey'])
('hotmail.com', ['bruce.wayne'])

In [ ]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
wardrobe

{'shirt': ['red', 'blue', 'white'],
 'jeans': ['white'],
 'scarf': ['yellow'],
 'socks': ['black', 'brown']}

In [ ]:
animal='Hippopotamus'
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [ ]:
x ="123 Main Street"
x.split(' ')

['123', 'Main', 'Street']

## 4 exam

In [ ]:
### Format 
def format_address(address_string):
  # Declare variables
  number = ''
  direction = ''
  # Separate the address string into parts
  string_parts = address_string.split(' ')
  # Traverse through the address parts
  for i in string_parts:
    # Determine if the address part is the
    # house number or part of the street name
    if i==string_parts[0]:
      number = i
    else:
      direction = direction + i + ' '
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(number, direction)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [ ]:
def highlight_word(sentence, word):
  words = ''
  sentence_split = sentence.split(' ')
  print(sentence_split)
  for i in sentence_split:
    if i + '!' == word +'!':
      i = i.upper() + '!'
    elif i == word:
      i = i.upper()
    words = words + i + ' '
  return(words)

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

['Have', 'a', 'nice', 'day']
Have a NICE! day
['Shhh,', "don't", 'be', 'so', 'loud!']
Shhh, don't be so loud!
['Automating', 'with', 'Python', 'is', 'fun']
Automating with Python is FUN!

In [ ]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  list1.reverse()
  joinedlist= list2 + list1
  return joinedlist
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [ ]:
def squares(start, end):
  return [x**2 for x in range(start, end+1)]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def car_listing(car_prices):
  result = ""
  for i in car_prices.items():
    car = i[0]
    price = i[1]
    result += "{} costs {} dollars".format(car, price) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [21]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence
  combined_dict = {
    key: guests1.get(key, 0) + guests2.get(key, 0) for key in guests2
  }
  return combined_dict

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 5, 'Nancy': 1, 'Robert': 6, 'Adam': 3, 'Samantha': 3, 'Chris': 5}

In [ ]:
def count_letters(text):
  text= text.lower()
  newtext= ''.join(filter(str.isalpha, text))
  print(newtext)
  # result = {x:text.count(x) for x in set(newtext)}
  result = {x:text.count(x) for x in (newtext)}
  #result = {key: value for key, value in sorted(result.items())}
  # Go through each letter in the text
  #for letter in newtext.split(' '):
    # Check if the letter needs to be counted or not
  #  print(letter)
    # Add or increment the value in the dictionary
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

aabbcc
{'a': 2, 'b': 2, 'c': 2}
mathisfun
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
thisisasentence
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [ ]:
x = "This is a sentence."
x = x.lower()
x

'this is a sentence.'

In [ ]:
'''
Pregunta 1
Fill in the blanks to complete the “confirm_length” function. This function should return how many characters a string contains as long as it has one or more characters, otherwise it will return 0. Complete the string operations needed in this function so that input like "Monday" will produce the output "6".
'''

def confirm_length(word):

    # Complete the condition statement using a string operation. 
    if len(word)>0: 
        # Complete the return statement using a string operation.
        return len(word) 
    else:
        return 0


print(confirm_length("a")) # Should print 1
print(confirm_length("This is a long string")) # Should print 21
print(confirm_length("Monday")) # Should print 6
print(confirm_length("")) # Should print 0

In [9]:
'''
Pregunta 2
Fill in the blank to complete the “string_words” function. This function should split up the words in the given “string” and return the number of words in the “string”.  Complete the string operation and method needed in this function so that a function call like "string_words("Hello, World")" will return the output "2".
'''
def string_words(string):
    # Complete the return statement using both a string operation and 
    # a string method in a single line.
    return len(string.split(" "))


print(string_words("Hello, World")) # Should print 2
print(string_words("Python is awesome")) # Should print 3
print(string_words("Keep going")) # Should print 2
print(string_words("Have a nice day")) # Should print 4

2
3
2
4

In [20]:
'''
Pregunta 3

Consider the following scenario about using Python lists: 

Employees at a company shared  the distance they drive to work (in miles) through an online survey. These distances were automatically added by Python to a list called “distances” in the order that each employee submitted their distance. Management wants the list to be sorted in the order of the longest distance to the shortest distance. 

Complete the function to sort the “distances” list. This function should:

    sort the given “distances” list, passed through the function’s parameters; ; 

    reverse the sort order so that it goes from the longest to the shortest distance;

    return the modified “distances” list.
'''
def sort_distance(distances):
    distances.sort() # Sort the list
    distances.sort(reverse=True) # Reverse the order of the list
    return distances


print(sort_distance([2,4,0,15,8,9]))
# Should print [15, 9, 8, 4, 2, 0]

[15, 9, 8, 4, 2, 0]

In [ ]:
'''
Pregunta 4
Fill in the blank to complete the “even_numbers” function. This function should use a list comprehension to create a list of even numbers using a conditional if statement with the modulo operator to test for numbers evenly divisible by 2. The function receives two variables and should return the list of even numbers that occur between the “first” and “last” variables exclusively (meaning don’t modify the default behavior of the range to exclude the “end” value in the range). For example, even_numbers(2, 7) should return [2, 4, 6].  
'''

def even_numbers(first, last):
  return [x for x in range(first, last) if x%2==0]


print(even_numbers(4, 14)) # Should print [4, 6, 8, 10, 12]
print(even_numbers(0, 9))  # Should print [0, 2, 4, 6, 8]
print(even_numbers(2, 7))  # Should print [2, 4, 6]

In [ ]:
'''
Pregunta 5

Fill in the blanks to complete the “car_listing” function. This function accepts a “car_prices” dictionary. It should iterate through the keys (car models) and values (car prices) in that dictionary. For each item pair, the function should format a string so that a dictionary entry like ““Kia Soul“:19000” will print "A Kia Soul costs 19000 dollars". Each new string should appear on its own line.
'''
def car_listing(car_prices):
  result = ""
  # Complete the for loop to iterate through the key and value items 
  # in the dictionary.
  for i in car_prices.items():
    car = i[0]
    price = i[1]
    result += "{} costs {} dollars".format(car, price) + "\n" # Use a string method to format the required string. 
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

In [ ]:
'''
Consider the following scenario about using Python dictionaries: 

Tessa and Rick are hosting a party. Both sent out invitations to their friends, and each one collected responses into dictionaries, with names of their friends and how many guests each friend was bringing. Each dictionary is a partial guest list, but Rick's guest list has more current information about the number of guests. 

Complete the function to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rick's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary. This function should:

    accept two dictionaries through the function’s parameters;

    combine both dictionaries into one, with each key listed only once;

    the values from the “guests1” dictionary taking precedence, if a key is included in both dictionaries;

    then print the new dictionary of combined items.
'''

In [ ]:
'''
Pregunta 7

Use a dictionary to count the frequency of numbers in the given “text” string. Only numbers should be counted. Do not count blank spaces, letters, or punctuation. Complete the function so that input like "1001000111101" will return a dictionary that holds the count of each number that occurs in the string  {'1': 7, '0': 6}. This function should: 

    accept a string “text” variable through the function’s parameters;

    initialize an new dictionary;

    iterate over each text character to check if the character is a number’

    count the frequency of numbers in the input string, ignoring all other characters;

    populate the new dictionary with the numbers as keys, ensuring each key is unique, and assign the value for each key with the count of that number;

    return the new dictionary.
'''
def count_numbers(text):
  newtext = ''.join(filter(str.isnumeric, text))
  print(newtext)
  result = {x:text.count(x) for x in (newtext)}
  # Initialize a new dictionary.
  #dictionary = {} 
  # Complete the for loop to iterate through each "text" character.
  #for ___
    # Complete the if-statement using a string method to check if the
    # character is a number.
  #  if___:
      # Complete the if-statement using a logical operator to check if 
      # the number is not already in the dictionary.
  #    if ___:
           # Use a dictionary operation to add the number as a key
           # and set the initial count value to zero.
  #         ___
      # Use a dictionary operation to increment the number count value 
      # for the existing key.
  #    ___
  return result

print(count_numbers("1001000111101"))
# Should be {'1': 7, '0': 6}

print(count_numbers("Math is fun! 2+2=4"))
# Should be {'2': 2, '4': 1}

print(count_numbers("This is a sentence."))
# Should be {}

print(count_numbers("55 North Center Drive"))
# Should be {'5': 2}

Extras

In [17]:
prime_numbers = [11, 3, 7, 5, 2]


# sorting the list in ascending order
prime_numbers.sort()


print(prime_numbers)

[2, 3, 5, 7, 11]